<!DOCTYPE html>

<html>
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arrival Timestamp</title>

    <link rel="stylesheet" href="button.css">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type='text/css'>
  </header>

  <body>

    <div class="jumbotron">
      <div class="container">
	<h1>Let us know that you're here!</h1>
	<h2 id="buttonheader">Click the big red button!</h2>
	<br>
	  <!-- The Old Button -->
	  <!-- <p><a class="myButton" href="#" onclick="recordRate()" role="button">I'm Here!</a></p> -->

	<div class="centered">
	  <!-- <p><a class="btn btn-lg btn-danger" href="#" onclick="recordRate()" role="button">I'm Here!</a></p> -->

	  <div class = "wrapper">
	    <div class = "main">
	      <button id="stampbutton" class="btn btn-lg btn-danger" onclick="recordRate()" type="button">I'm Here!</button>
	    </div>
	  </div>
	  
	</div>
	<br>
	<br>
	<p id="appdescription">The UMHS Comprehensive Cancer Center Management and the UofM Center for Healthcare Engineering and Patient Safety need your time of arrival to better understand how we can reduce your wait time in the blood draw clinic.
	  <br>
	  <b>Please press the button <u><span style="background-color: #FFFF00">once</span></u> when you arrive</b>, and we will then record your time of arrival. Thank you for helping us help you!</p>
      </div>
    </div>
    <div class="centered">
      <br>
      <img id="cclogo" src="combined-edit.JPG">
      <!-- <img src="cclogo-edit.jpg"> -->
      <!-- <img src="cheps.png"> -->
    </div>
    <br>
    <br>
    <br>    
    <br>
    <br>        
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Bootstrap Javascript-->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Javascript -->
    <script src="button.js"> </script>
  </body>

</html>
